<!doctype html>
<html>
<head>
  {% include "_head" %}
</head>
<body>

  {% include "_nav" %}

  <section class="section is-fullheight">
    {% include "_errors" %}

    {% block content %}{% endblock %}
  </section>

<script src="/dist/app.js" charset="utf-8"></script>

</body>
</html>
