<!doctype html>
<html>
<head>
  {% include "_head" %}
</head>
<body>

  {% include "_nav" %}
  <section class="hero is-dark is-bold is-fullheight">
    <div class="hero-body has-text-right">
      <div class="container">
        <h1 class="title">
          A place to plan out your next practice session.
        </h1>
        <h2 class="subtitle">
          <a href="/signup" class="button is-outlined is-medium">Get Started</a>
        </h2>
      </div>
    </div>
  </section>

<script src="app.js" charset="utf-8"></script>

</body>
</html>
