body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > section {
  flex-grow: 1;
}

.button.is-outlined {
  background: none;
}

button.card-footer-item {
  background: #1fc8db;
  outline: none;
  border: none;

  font-size: inherit;
  font: inherit;
  color: #fff;
  font-weight: bold;
}

.is-space-between {
  justify-content: space-between;
  align-items: center;
}

.song-actions-link + .song-actions-link {
  margin-left: 0.3rem;
}

.hero.is-primary a.nav-item {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}
