{% extends 'master' %}

{% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <form action="/songs" method="POST" class="card is-fullwidth">
        <div class="card-header">
          <h2 class="card-header-title">
            Profile
          </h2>
        </div>
        <div class="card-content">
          <div class="columns">
            <div class="column">
              {% if currentUser.spotify_id %}
              <h2>Spotify Connected!</h2>

              <p>
                <strong>Spotify Username:</strong>
                {{ currentUser.spotify_id }}
              </p>
              {% else %}
                <a href="{{ spotifyUrl }}" class="button is-success is-fullwidth">
                  Connect to Spotify
                  <span class="fa fa-fw fa-spotify"></span>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
