{% extends "master" %}

{% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <nav class="panel">
        <div class="panel-heading is-flex is-space-between">
          <h2 class="panel-heading-title">My Set Lists</h2>
          <a href="/set-lists/create" class="button is-success">
            <span class="fa fa-plus"></span>
          </a>
        </div>

        {% for setList in setLists %}
          <div class="panel-block" href="/set-lists/{{setList.id}}/edit">
            <div class="is-flex is-space-between">
              <p class="song-details">
                <a href="/set-lists/{{setList.id}}">{{setList.title}}</a>
              </p>
              <div class="song-actions">
                <a href="/set-lists/{{ setList.id }}/edit" class="button"><span class="fa fa-pencil"></span></a>
                <a href="/set-lists/{{ setList.id }}?_method=DELETE" class="button is-danger"><span class="fa fa-trash"></span></a>
              </div>
            </div>
          </div>
        {% endfor %}
      </nav>
    </div>
  </div>
</div>
{% endblock %}
