{% extends "master" %}

{% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <nav class="panel">
        <div class="panel-heading is-flex is-space-between">
          <h2 class="panel-heading-title">{{setList.title}} - {{setList.date}}</h2>

          <a href="/set-lists/{{setList.id}}/add-song" class="button is-success">
            <span class="fa fa-plus"></span>
          </a>
        </div>

        {% for practiceSong in setList.practiceSongs %}
          <div class="panel-block" href="/set-lists/{{setList.id}}/edit">
            <div class="is-flex is-space-between">
              <p class="song-details">
                {{practiceSong.song.title}}
              </p>
              <div class="song-actions">
                <a href="{{ practiceSong.song.spotify_link }}" class="button is-success" target="_blank" rel="noopener"><span class="fa fa-spotify"></span></a>
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="panel-block">
          <a href="/set-lists/{{setList.id}}/sync-spotify" class="button is-fullwidth is-success">
            {% if setList.spotify_id %}
              Sync To Spotify
            {% else %}
              Create Spotify Playlist
            {% endif %}
            <span class="fa fa-fw fa-spotify"></span>
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>
{% endblock %}
