{% extends 'master' %}

{% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <form action="/songs/search-spotify" class="card is-fullwidth">
        <div class="card-header">
          <h2 class="card-header-title">
            Search Spotify for Songs
          </h2>
        </div>
        <div class="card-content">
          {% for error in flashMessages.errors %}
          <div class="notification is-danger">
            <button class="delete"></button>
            <p>{{error.message}}</p>
          </div>
          {% endfor %}


          <label class="label">Search Term</label>
          <p class="control">
            <input class="input" type="text" value="{{ old('search', searchTerm) }}" placeholder="Search Term" name="search">
          </p>
        </div>

        <footer class="card-footer">
          <a class="card-footer-item" href="/songs/create">Back</a>
          <button class="card-footer-item">Search</button>
        </footer>
      </form>

      <div class="panel">
        {% for track in tracks %}
          <div class="panel-block" href="/songs/{{song.id}}/edit">
            <div class="is-flex is-space-between">
              <p class="song-details">
                <strong>{{track.artists[0].name}}</strong> - {{track.name}}
              </p>

              <div class="song-actions">
                <form action="/songs/search-spotify" method="POST">
                  <input type="hidden" value="{{ track.artists[0].name }}" name="artist">
                  <input type="hidden" value="{{ track.name }}" name="title">
                  <input type="hidden" value="{{ track.external_urls.spotify }}" name="spotify_link">
                  <button href="/song-details" class="button">Add</button>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
